In [311]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime
import itertools as it

In [312]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
420,tt1216492,19000000,29922472,Leap Year,Amy Adams|Matthew Goode|Adam Scott|John Lithgo...,Anand Tucker,Anna planned to propose to her boyfriend on Fe...,When yet another anniversary passes without a ...,100,Romance|Comedy,Universal Pictures|Spyglass Entertainment|Octa...,1/8/2010,6.3,2010
137,tt2109248,210000000,245500000,Transformers: Age of Extinction,Mark Wahlberg|Stanley Tucci|Nicola Peltz|Jack ...,Michael Bay,This is not war. It's extinction.,"As humanity picks up the pieces, following the...",165,Science Fiction|Action|Adventure,Paramount Pictures|Amblin Entertainment|Di Bon...,6/25/2014,5.9,2014
745,tt0983193,130000000,371940071,The Adventures of Tintin,Jamie Bell|Andy Serkis|Daniel Craig|Nick Frost...,Steven Spielberg,"This year, discover how far adventure will tak...","Intrepid young reporter, Tintin and his loyal ...",107,Adventure|Animation|Action|Family|Mystery,Paramount Pictures|Columbia Pictures|WingNut F...,10/25/2011,6.6,2011
1872,tt0134983,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,4.7,2000
1050,tt1714203,5000000,8493728,Piranha 3DD,Danielle Panabaker|Matt Bush|Katrina Bowden|Je...,John Gulager,Twice the Teeth. Twice the Terror.,"After the events at Lake Victoria, the prehist...",83,Horror|Thriller|Comedy,Dimension Films|Mark Canton Productions|Intell...,5/11/2012,4.2,2012

In [313]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [314]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.apply (lambda row: row.revenue-row.budget, axis=1)
data['list_genres'] = data['genres'].str.split('|')
data['list_director'] = data['director'].str.split('|')
data['list_cast'] = data['cast'].str.split('|')
data['list_companies'] = data['production_companies'].str.split('|')
data['overview_words'] = data['overview'].str.split(' ').str.len()

data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['title_len'] = data.apply (lambda row: len(row.original_title), axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [315]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [316]:
# тут пишем ваш код для решения данного вопроса:
data_1 = data.copy()
data.loc[data_1.budget==data_1.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,2011-05-11,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall],"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Walt Disney Pictures, Jerry Bruckheimer Films...",75,43

ВАРИАНТ 2

In [317]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [318]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [319]:
data_2 = data.copy()
data.loc[data_2.runtime==data_2.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,2003-02-21,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell],"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Turner Pictures, Antietam Filmworks]",48,17

# 3. Какой из фильмов самый короткий (в минутах)?

In [320]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

data_3 = data.copy()
data_3.loc[data.runtime==data_3.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,2011-04-13,6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]","[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Walt Disney Pictures, Walt Disney Animation S...",52,15

# 4. Какова средняя длительность фильмов?

In [321]:
answers['4'] = '109.6585494970884'

data_4 = data.copy()
data_4.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [322]:
answers['5'] = '107.0'

data_5 = data.copy()
data_5.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [323]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'

data_6 = data.copy()
data_6.loc[data_6.profit==data_6.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,2009-12-10,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Ingenious Film Partners, Twentieth Century Fo...",28,6

# 7. Какой фильм самый убыточный?

In [324]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

data_7 = data.copy()
data_7.loc[data_7.profit==data_7.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,2013-07-03,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski],"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Walt Disney Pictures, Jerry Bruckheimer Films...",68,15

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [325]:
answers['8'] = 1478

data_8 = data.copy()
len(data_8.loc[data_8.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [326]:
answers['9'] = '599. The Dark Knight (tt0468569)'

data_9 = data.copy()
data2008 = data_9[data_9.release_year==2008]
data2008.reset_index()
data2008.loc[(data2008.revenue==data2008.revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,2008-07-16,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[Christian Bale, Michael Caine, Heath Ledger, ...","[DC Comics, Legendary Pictures, Warner Bros., ...",67,15

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [327]:
answers['10'] = '209. The Rover (tt2345737)'

data_10 = data.copy()
data12_14 = data_10[(data_10.release_year>=2012)&(data_10.release_year>=2014)]
data12_14.reset_index()
data12_14.loc[(data12_14.revenue==data12_14.revenue.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
209,tt2345737,12250000,2295423,The Rover,Guy Pearce|Robert Pattinson|Scoot McNairy|Nash...,David MichÃ´d,Fear the man with nothing left to lose.,A decade after the collapse of the western wor...,100,Crime|Drama,...,2014-05-18,6.0,2014,-9954577,"[Crime, Drama]",[David MichÃ´d],"[Guy Pearce, Robert Pattinson, Scoot McNairy, ...","[Porchlight Films, FilmNation Entertainment, S...",36,9

# 11. Какого жанра фильмов больше всего?

In [328]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

data_11 = data.copy()
data_genres = data_11.explode('list_genres').list_genres

display(data_genres.value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: list_genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [329]:
answers['12'] = 'Drama'

data_12 = data.copy()
data_profit = data_12[data_12.profit > 0]
data_genres = data_profit.explode('list_genres').list_genres

display(data_genres.value_counts())

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: list_genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [330]:
answers['13'] = 'Peter Jackson'

data_13 = data.copy()
data_director = data_13.explode('list_director')
data_director_revenue = data_director.groupby(['list_director'])['revenue'].sum().reset_index()

display(data_director_revenue.loc[data_director_revenue.revenue == data_director_revenue.revenue.max()])

     list_director     revenue
727  Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [331]:
answers['14'] = 'Robert Rodriguez'

data_14 = data.copy()
data_action = data_14[data_14.genres.str.contains("Action", na=False)].copy()
data_action.director = data_action.director.str.split('|')
data_action = data_action.explode('list_director')
director_data_action = data_action.groupby(['list_director'])['imdb_id'].count().reset_index()

display(director_data_action.loc[director_data_action.imdb_id == director_data_action.imdb_id.max()])

        list_director  imdb_id
296  Robert Rodriguez        9

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [332]:
answers['15'] = 'Chris Hemsworth'

data_15 = data.copy()
data2012 = data_15[(data_15.release_year==2012)]
data_cast = data2012.explode('list_cast')

data_cast_revenue = data_cast.groupby(['list_cast'])['revenue'].sum().reset_index()

display(data_cast_revenue.loc[data_cast_revenue.revenue == data_cast_revenue.revenue.max()])

          list_cast     revenue
77  Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [333]:
answers['16'] = 'Matt Damon'

data_16 = data.copy()
data_16 = data_16[data_16.budget>data_16.budget.mean()]
data_cast = data_16.explode('list_cast')
data_cast.list_cast.value_counts()

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Tom Cruise          15
Eddie Murphy        15
                    ..
Juliette Lewis       1
Sarah Gadon          1
Lisa Ann Walter      1
Joely Richardson     1
Laurie Holden        1
Name: list_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [334]:
answers['17'] = 'Action'

data_17 = data.copy()
data_17 = data_17[data.cast.str.contains('Nicolas Cage')]
data_genres = data_17.explode('list_genres').list_genres

display(data_genres.value_counts())

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: list_genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [335]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

data_18 = data.copy()
data_18 = data_18[data_18.production_companies.str.contains('Paramount Pictures')]

display(data_18.loc[data_18.profit == data_18.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,release_date,vote_average,release_year,profit,list_genres,list_director,list_cast,list_companies,overview_words,title_len
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,2002-07-19,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...","[Paramount Pictures, Intermedia Films, Nationa...",23,20

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [336]:
answers['19'] = 2015

data_19 = data.copy()

data_years = data_19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

display(data_years)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [337]:
answers['20'] = 2014

data_20 = data.copy()

data_20 = data_20[data_20.production_companies.str.contains('Warner Bros')]

data_years = data_20.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

display(data_years)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [338]:
answers['21'] = 9

data_21 = data.copy()

data_months = data_21.groupby(pd.DatetimeIndex(data_21['release_date']).month)['imdb_id'].count().sort_values(ascending=False)

display(data_months)

release_date
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [339]:
answers['22'] = 450

data_22 = data.copy()

data_22 = data_22[pd.DatetimeIndex(data_22['release_date']).month.isin([6,7,8])]

data_months = data_22['imdb_id'].count()

display(data_months)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [340]:
answers['23'] = 'Peter Jackson'

data_23 = data.copy()

data_23 = data_23[pd.DatetimeIndex(data_23['release_date']).month.isin([12,1,2])]

winter_director = data_23.explode('list_director')

winter_director_group = winter_director.groupby('list_director')['imdb_id'].count().sort_values(ascending=False)

display(winter_director_group)

list_director
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: imdb_id, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [341]:
answers['24'] = '1492 Pictures'

data_24 = data.copy()
data_24 = data_24[data_24.title_len>data_24.title_len.mean()]

data_24 = data_24.explode('list_companies')

data_companies = data_24.groupby(['list_companies'])['title_len'].max()

display(data_companies)

list_companies
1492 Pictures                       50
1984 Private Defense Contractors    27
2 Entertain                         20
20th Century Fox                    30
21 Laps Entertainment               59
                                    ..
Zephyr Films                        16
Zide-Perry Productions              19
Zippcast Films                      17
Zohar International                 41
platinum studios                    24
Name: title_len, Length: 897, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [342]:
answers['25'] = 'Universal Pictures'

data_25 = data.copy()
data_25 = data_25[data_25.overview_words>data_25.overview_words.mean()]

data_25 = data_25.explode('list_companies')

data_companies = data_25.groupby(['list_companies'])['overview_words'].sum().sort_values(ascending=False)

display(data_companies)

list_companies
Universal Pictures                 6671
Warner Bros.                       6153
Paramount Pictures                 4797
Columbia Pictures                  4762
Relativity Media                   3461
                                   ...
Exception Wild Bunch                 53
Closest to the Hole Productions      53
Big Beach Productions                53
PathÃ© Pictures International        53
Granada Film Productions             53
Name: overview_words, Length: 1033, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [343]:
answers['26'] = 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento'
data_26 = data.copy()

data_26.original_title[data_26.vote_average.quantile(.99) < data_26.vote_average]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [344]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint|Daniel Radcliffe, Emma Watson'
data_27 = data.copy()

cast = []
for item in data_27.cast:
    data_cast = item.split('|')
    cast.extend(list(it.combinations(data_cast,2)))
pd.Series(cast).value_counts()[:10]

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
(Kristen Stewart, Robert Pattinson)    5
(Kristen Stewart, Taylor Lautner)      5
(Robert Pattinson, Taylor Lautner)     5
(Hugh Jackman, Ian McKellen)           5
(Adam Sandler, Kevin James)            5
dtype: int64

# Submission

In [345]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '209. The Rover (tt2345737)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': '1492 Pictures',
 '25': 'Universal Pictures',
 '26': 'Inside Out, Room, Interstellar, Guardians of the Galaxy, The Imitation Game, Gone Girl, The Grand Budapest Hotel, Inception, The Dark Knight, The Pianist, The Lord of the Rings: The Return of the King, The Wolf of Wall Street, 12 Years a Slave, Memento',
 '27': 'Daniel Radcliffe, Rupert Grint|Daniel Radcliffe, Emma Watson'}

In [346]:
# и убедиться что ни чего не пропустил)
len(answers)

27